#Explore-Empty-3{

}
#Explore-container{

}
#Explore-card{
background-image: url(/src/assets/Explore-card-1.jpg);
width: 10%;
height: 100px;
background-size: cover;
}
#Explore-description{

}