#Navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 227px;
    background-color: #F6F6F6;
    height: 111px;
    width: 1500px;
    border-radius: 35px;
    position: absolute;
    top: 124px;
}
/* #section1{

} */
#empty{
    width: 100px;
}
#list1{
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#items1{
    text-decoration: none;
}

/* #section2{

} */
#list2{
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
#search-image{
    height: 25px;
    width: 25px;
    margin-top: 12px;
    margin-right: -27px;
}
#items2{
    text-decoration: none;
}
.button{
    background: none;
    height: 51px;
    width: 138px;
    border-radius: 8px;
    border: solid rgba(0, 0, 0, 40) 1px;
}